:root {
  --bg-color: #ffffff;
  --bg-service :#ec4899;
  --color-service : #ffffff;
  --text-color: #020617;

  --nav-bg: #ffffff;
  --nav-hover: #e5e7eb;
  --nav-active: #ec4899; 
  --box-flow : #ffffff;
}

[data-theme="dark"] {
  --bg-color: #020617;
  --text-color: #ffffff;
  --nav-bg: #020617;
  --nav-hover: #1e293b;
  --nav-active: #ec4899;
  --box-flow : #020617;
 
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Base nav link */
.nav-link {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
} 
/* .service-bg{
  color: var(--color-service);
  background-color: var(--bg-service);
}

.service-bg:hover{
  
} */

/* Hover */
/* .nav-link:hover {
  background-color: var(--nav-hover);
} */

/* Active link */
.active-link {
  color: var(--nav-active) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--nav-active);
}

.footer-color {
  color: var(--text-color);
}
.process-color{
  color: var(--text-color);
}
.clip-hexagon {
  clip-path: polygon(
    25% 6%,
    75% 6%,
    100% 50%,
    75% 94%,
    25% 94%,
    0% 50%
  );
}

.work-flow-box {
  background-color: var(--box-flow) ;
  color: var(--text-color);
}
/* .shadow-pop-br {
  display: inline-block;
}

.shadow-pop-br:hover {
  animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #000;
    transform: translate(0, 0);
  }
  100% {
    box-shadow: 12px 12px #000;
    transform: translate(-6px, -6px);
  }
} */
