:root {
  --bg-color: #ffffff;
  --bg-service :#ec4899;
  --color-service : #ffffff;
  --text-color: #020617;

  --nav-bg: #ffffff;
  --nav-hover: #e5e7eb;
  --nav-active: #ec4899; 
}

[data-theme="dark"] {
  --bg-color: #020617;
  --text-color: #ffffff;
  --nav-bg: #020617;
  --nav-hover: #1e293b;
  --nav-active: #ec4899;
 
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Base nav link */
.nav-link {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.service-bg{
  color: var(--color-service);
  background-color: var(--bg-service);
}

/* Hover */
.nav-link:hover {
  background-color: var(--nav-hover);
}

/* Active link */
.active-link {
  color: var(--nav-active) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--nav-active);
}

.footer-color {
  color: var(--text-color);
}
